@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 55% 20%;

    --card: 0 0% 100%;
    --card-foreground: 220 60% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 60% 18%;

    --primary: 220 89% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 32% 96%;
    --secondary-foreground: 220 60% 18%;

    --muted: 214 32% 96%;
    --muted-foreground: 220 10% 98%;

    --accent: 214 32% 96%;
    --accent-foreground: 220 60% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 220 89% 62%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 70% 14%;
    --foreground: 0 0% 100%;

    --card: 220 70% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 220 70% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 220 89% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 221 50% 22%;
    --secondary-foreground: 0 0% 100%;

    --muted: 221 50% 22%;
    --muted-foreground: 0 0% 98%;

    --accent: 221 50% 22%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 221 40% 25%;
    --input: 221 40% 25%;
    --ring: 0 0% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}